body {
    font-family: Arial, sans-serif;
   
    margin: 0;
    padding: 0;
    /* Add more styles as needed */
}



.content_part{
    
    margin-top: 150px; 

    
}.img_part{
    margin-top: 150px;;
}.h1_dg{
    font-weight: 700;
    margin-top: 50px;

}.slider_p{
    max-width: 80%;
}.slider_height{

    height: 100vh;
    width: 100%;
}.about{
    margin-top: 100px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}.blog{
    height: 100vh;
    margin-top: 100px;;
   
}.box{
    width: 100%;
}.testi{
margin-bottom: 100px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;

}.contact-form{
    height: 100vh;
   background-color: whitesmoke;
    align-items: center;
    display: flex;
    
    
    
}.footer{
    height: 80vh;
    background-color: black;
    color: white;
    align-items: center;
    
}.first-section{
    margin-top: 30px;
   
    
    justify-content: center;
    text-align: center;
}